## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.o
*.Po
*.elc
Makefile
config.log
config.status
doc/emacs/Makefile
doc/lispintro/Makefile
doc/lispref/Makefile
doc/misc/Makefile
etc/DOC
etc/DOC-24.2.1
etc/DOC-24.2.2
leim/Makefile
leim/changed.misc
leim/changed.tit
leim/leim-list.el
leim/quail/4Corner.el
leim/quail/ARRAY30.el
leim/quail/CCDOSPY.el
leim/quail/CTLau-b5.el
leim/quail/CTLau.el
leim/quail/ECDICT.el
leim/quail/ETZY.el
leim/quail/PY-b5.el
leim/quail/PY.el
leim/quail/Punct-b5.el
leim/quail/Punct.el
leim/quail/QJ-b5.el
leim/quail/QJ.el
leim/quail/SW.el
leim/quail/TONEPY.el
leim/quail/ZIRANMA.el
leim/quail/ZOZY.el
leim/quail/quick-b5.el
leim/quail/quick-cns.el
leim/quail/tsang-b5.el
leim/quail/tsang-cns.el
lib-src/Makefile
lib-src/ctags
lib-src/ctags.dSYM/Contents/Info.plist
lib-src/ctags.dSYM/Contents/Resources/DWARF/ctags
lib-src/ebrowse
lib-src/ebrowse.dSYM/Contents/Info.plist
lib-src/ebrowse.dSYM/Contents/Resources/DWARF/ebrowse
lib-src/emacsclient
lib-src/emacsclient.dSYM/Contents/Info.plist
lib-src/emacsclient.dSYM/Contents/Resources/DWARF/emacsclient
lib-src/etags
lib-src/etags.dSYM/Contents/Info.plist
lib-src/etags.dSYM/Contents/Resources/DWARF/etags
lib-src/hexl
lib-src/hexl.dSYM/Contents/Info.plist
lib-src/hexl.dSYM/Contents/Resources/DWARF/hexl
lib-src/make-docfile
lib-src/make-docfile.dSYM/Contents/Info.plist
lib-src/make-docfile.dSYM/Contents/Resources/DWARF/make-docfile
lib-src/movemail
lib-src/movemail.dSYM/Contents/Info.plist
lib-src/movemail.dSYM/Contents/Resources/DWARF/movemail
lib-src/profile
lib-src/profile.dSYM/Contents/Info.plist
lib-src/profile.dSYM/Contents/Resources/DWARF/profile
lib-src/stamp-grep-changelog
lib-src/stamp-rcs-checkin
lib-src/stamp-rcs2log
lib-src/stamp-vcdiff
lib-src/test-distrib
lib-src/test-distrib.dSYM/Contents/Info.plist
lib-src/test-distrib.dSYM/Contents/Resources/DWARF/test-distrib
lib-src/update-game-score
lib-src/update-game-score.dSYM/Contents/Info.plist
lib-src/update-game-score.dSYM/Contents/Resources/DWARF/update-game-score
lib/Makefile
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/getopt.h
lib/inttypes.h
lib/libgnu.a
lib/signal.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/sys/stat.h
lib/time.h
lib/unistd.h
lib/warn-on-use.h
lisp/Makefile
lwlib/Makefile
nextstep/Emacs.app/Contents/Info.plist
nextstep/Emacs.app/Contents/MacOS/Emacs
nextstep/Emacs.app/Contents/PkgInfo
nextstep/Emacs.app/Contents/Resources/Credits.html
nextstep/Emacs.app/Contents/Resources/Emacs.icns
nextstep/Emacs.app/Contents/Resources/English.lproj/InfoPlist.strings
nextstep/Emacs.app/Contents/Resources/document.icns
oldXMenu/Makefile
src/Makefile
src/bootstrap-emacs
src/buildobj.h
src/config.h
src/deps/alloc.d
src/deps/atimer.d
src/deps/bidi.d
src/deps/buffer.d
src/deps/bytecode.d
src/deps/callint.d
src/deps/callproc.d
src/deps/casefiddle.d
src/deps/casetab.d
src/deps/category.d
src/deps/ccl.d
src/deps/character.d
src/deps/charset.d
src/deps/chartab.d
src/deps/cm.d
src/deps/cmds.d
src/deps/coding.d
src/deps/composite.d
src/deps/data.d
src/deps/dired.d
src/deps/dispnew.d
src/deps/doc.d
src/deps/doprnt.d
src/deps/editfns.d
src/deps/emacs.d
src/deps/eval.d
src/deps/fileio.d
src/deps/filelock.d
src/deps/floatfns.d
src/deps/fns.d
src/deps/font.d
src/deps/fontset.d
src/deps/frame.d
src/deps/fringe.d
src/deps/gnutls.d
src/deps/image.d
src/deps/indent.d
src/deps/insdel.d
src/deps/intervals.d
src/deps/keyboard.d
src/deps/keymap.d
src/deps/lastfile.d
src/deps/lread.d
src/deps/macros.d
src/deps/marker.d
src/deps/menu.d
src/deps/minibuf.d
src/deps/nsfns.d
src/deps/nsfont.d
src/deps/nsimage.d
src/deps/nsmenu.d
src/deps/nsselect.d
src/deps/nsterm.d
src/deps/pre-crt0.d
src/deps/print.d
src/deps/process.d
src/deps/regex.d
src/deps/region-cache.d
src/deps/scroll.d
src/deps/search.d
src/deps/sound.d
src/deps/syntax.d
src/deps/sysdep.d
src/deps/term.d
src/deps/terminal.d
src/deps/terminfo.d
src/deps/textprop.d
src/deps/undo.d
src/deps/unexmacosx.d
src/deps/window.d
src/deps/xdisp.d
src/deps/xfaces.d
src/deps/xml.d
src/emacs
src/emacs-24.2.1
src/emacs-24.2.2
src/epaths.h
src/gl-stamp
src/globals.h
src/stamp-h1
src/stamp-oldxmenu
src/temacs
autom4te.cache/*
lisp/loaddefs.el
nextstep/Emacs.app/*
